.content {
  padding: 5px;
}

.content > mat-card {
  margin-bottom: 20px;
}

.book-card-item {
  margin-bottom: 10px;
}

mat-card-actions {
  position: absolute;
  right: 144px;
  top: -2px;
}

.mat-card-actions {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px 0;
  left: -7px;
}
.mat-card-header .mat-card-title {
  margin-bottom: 12px;
  width: 195px;
}

.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  font-style: italic;

}

mat-card-header-text {
  margin: 0 -5px;
}

.book-added {
  left: 10px;
}

.app p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

.mat-card-content {
  display: flex;
  margin-bottom: 16px;
  // width: 10;
}

.mat-card-header .mat-card-title {
  font-size: 14px;
}

.book-title {
  width: 10px;
}
