mat-card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  padding-left: 30px;
  padding-top: 20px;
}

mat-card mat-card-actions {
  padding-left: 10px;
}

mat-card mat-card-header {
  padding-left: 29px;
}

mat-card mat-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

.readnow {
  top: 165px;
}

.delete-book {
  left: 50px;
  top: -12px;
}
.rating {
  display: flex;
  padding-left: 15px;
}
.card-container {
  display: flex;
  // justify-content: space-between;
}

.book-list-container {
  padding-top: 10px;
}
