.subscription-books-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.heading {
  margin-right: auto;
  margin-left: auto;
}

.no-books {
  left: 32%;
  top: 42%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
