<div class="container">

  <div class="e-layout-modal">
    <div class="row">
      <div class="e-login-registration">

        <div class="e-header">
          <div class="e-emi-logo" aria-hidden="true"></div>
        </div>


        <div class="e-modal-content">
          <h1 class="e-modal-heading">Sign up</h1>
          <h3>Let your journey begin...</h3>
        </div>

        <div class="credential-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your new username</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="username" (keydown.enter)="onSubmit()">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Enter your new password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" (keydown.enter)="onSubmit()"
              (input)="onPasswordInput()">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>

          <p class="login-failed" *ngIf="password.length < 8 && password.length > 1">Password must have at least 8 characters</p>

          <p class="login-failed" *ngIf="registrationFailed">Registration failed. Please try again later...</p>
          <button mat-raised-button color="primary" style="float: right;" (click)="onSubmit()"
            [disabled]="isDisabled">CREATE ACCOUNT</button>
        </div>

      </div>
    </div>
  </div>
</div>
